{% extends 'registration/base_registration.html' %}

{% block content %}

	<form method="POST" class="formulario">
		   <h1>Recupero de contraseña</h1>
		<div class="contenedor">
			{{ form.email.errors }}	
			{% csrf_token %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
		    		<span class="input-group-text">{{ form.email.label }}</span>
		  		</div>		
				{# form.email reemplazado por html puro para facilitar estilos #}
				<input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
			  <div class="input-group-append">
			    <button class="btn btn-outline-dark" type="submit" id="button-addon2">Enviar link</button>
			  </div>
			</div>
		</div>
	</form>

{% endblock %}