{% extends 'registration/base_registration.html' %}

{% block content %}

<div class="col justify-content-center align-items-center">
        <form method="POST" class="container formulario" novalidate>
            {% csrf_token %}
            <div class="">
                    <h1 class="mb-3">Registro de Usuario y/o Donante</h1>
                <hr class="my-4">
                   
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Usuario</span>
                            </div>
                              {{ usuario_form.username }}
                              {{ usuario_form.username.errors }}
                        </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ usuario_form.password1.label }}</span>
                            </div>
                              {{ usuario_form.password1 }}
                              {{ usuario_form.password1.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Repetir...</span>
                            </div>
                              {{ usuario_form.password2 }}
                              {{ usuario_form.password2.errors }}
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.email.label }}</span>
                  </div>
                  {{ usuario_form.email }}
                  {{ usuario_form.email.errors }}
                </div>
                 <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.first_name.label }}</span>
                  </div>
                  {{ usuario_form.first_name }}
                  {{ usuario_form.first_name.errors }}
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.last_name.label }}</span>
                  </div>
                  {{ usuario_form.last_name }}
                  {{ usuario_form.last_name.errors }}
                </div>
                <label for="basic-url"></label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">DNI</span>
                  </div>
                           {{ usuario_form.dni }}
                 </div>
                          {{ usuario_form.dni.errors }}

                <label for="basic-url">{{ usuario_form.instagram.label }}</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Fecha de Nacimiento</span>
                  </div>
                    {{ usuario_form.fecha_nac }}                  
                </div>
                {{ usuario_form.fecha_nac.errors }}

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{ usuario_form.grupo_sanguineo.label }}</span>
                      </div>
                       <select class="custom-select" name="grupo_sanguineo" id="inputGroupSelect01">
                        <option selected>Seleccione...</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="0">0</option>
                      </select>
                      {# usuario_form.grupo_sanguineo es reemplazado para mejor control del estilo css #}
                      {{ usuario_form.grupo_sanguineo.errors }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{ usuario_form.factor_rh.label }}</span>
                      </div>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary">
                        <input type="radio" name="factor_rh" id="option2" value="+"> +
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="factor_rh" id="option3" value="-"> -
                      </label>
                    </div>

                      {{ usuario_form.factor_rh3 }}
                      {{ usuario_form.factor_rh.errors }}
                    </div>
                  </div>
                </div>

                <div class="col-auto my-1 mb-3">
                  <div class="custom-control custom-checkbox mr-sm-2 custom-switch">
                    <input type="checkbox" name="es_donante" class="custom-control-input" id="customControlAutosizing" >
                    {# usuario_form.es_donante es reemplazado para mejor control del estilo css #}
                    <label class="custom-control-label" for="customControlAutosizing">{{ usuario_form.es_donante.label }}</label>
                  </div>
                  {{ usuario_form.es_donante.errors }}
                </div>

                <div class="mb-3">
                  <input type="submit" class="btn btn-info btn-lg btn-block" value="Registrar">
                </div>
                <div class="mb-3">
                  <p class="text-white bg-dark">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                  <p class="text-white bg-dark">¿Ya tienes una cuenta?<a class="text-success" href="../login"> Iniciar Sesion</a></p>                 
                </div>
           
            
        </form>
    </div>

{% endblock %}