{% extends 'registration/base_registration.html' %}

{% block forms %}

<div class="col d-flex justify-content-center align-items-center">
        <form method="POST" class="container formulario" novalidate>
            {% csrf_token %}
            <div class="">
                    <h1 class="mb-3">Registro</h1>
                <hr class="my-4">
                   
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Usuario</span>
                            </div>
                              {{ usuario_form.username }}
                              {{ usuario_form.username.errors }}
                        </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ usuario_form.password1.label }}</span>
                            </div>
                              {{ usuario_form.password1 }}
                              {{ usuario_form.password1.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Repetir...</span>
                            </div>
                              {{ usuario_form.password2 }}
                              {{ usuario_form.password2.errors }}
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.email.label }}</span>
                  </div>
                  {{ usuario_form.email }}
                  {{ usuario_form.email.errors }}
                </div>
                 <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.first_name.label }}</span>
                  </div>
                  {{ usuario_form.first_name }}
                  {{ usuario_form.first_name.errors }}
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ usuario_form.last_name.label }}</span>
                  </div>
                  {{ usuario_form.last_name }}
                  {{ usuario_form.last_name.errors }}
                </div>
                <label for="basic-url"></label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">DNI</span>
                  </div>
                           {{ usuario_form.dni }}
                 </div>
                          {{ usuario_form.dni.errors }}

                <label for="basic-url">{{ usuario_form.instagram.label }}</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Fecha de Nacimiento</span>
                  </div>
                    {{ usuario_form.fecha_nac }}
                  
                </div>
                {{ usuario_form.fecha_nac.errors }}
                <div class="mb-3">
                  <input type="submit" class="btn btn-info btn-lg btn-block" value="Registrar">
                </div>
                <div class="mb-3">
                  <p class="text-white bg-dark">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                  <p class="text-white bg-dark">¿Ya tienes una cuenta?<a class="text-success" href="../login"> Iniciar Sesion</a></p>                 
                </div>
           
            
        </form>
    </div>

{% endblock %}