{% extends 'base.html' %}
{% block content %}
<div id="wrap"> <div id="main"> 
<div class="container-fluid">
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#acolapsar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Web de Donantes Plasma ></a>
		</div>
		<div class="collapse navbar-collapse" id="acolapsar" role="navigation">
			<ul class="nav navbar-nav">
				<li class=""><a href="#" class=""><span class="glyphicon glyphicon-map-marker"></span> ¿Dónde puedo DONAR?</a></li>
				<li class=""><a href="#" class=""><span class="glyphicon glyphicon-refresh"></span> Donantes</a></li>
				<li class=""><a href="#" class=""><span class="glyphicon glyphicon-comment"></span> ¿Quiénes somos?</a></li>
				<li class=""><a href="#" class=""><span class="glyphicon glyphicon-plus-sign"></span> Lugares</a></li>
				<li class=""><a href="blog" class=""><span class="glyphicon glyphicon-pencil"></span> Blog</a></li>
				{% if user.is_authenticated %}
					<li class=""><a href="" class=""><span class=""></span>Hola {{ user.username }}!</a></li>
					<li class=""><a href="logout" class=""><span class="glyphicon glyphicon-off"></span> Cerrar sesion</a></li>
                {% else %}
                	<li class=""><a href="registrar" class=""><span class="glyphicon glyphicon-plus"></span> Registrate</a></li>
                	<li class=""><a href="login" class=""><span class="glyphicon glyphicon-lock"></span> Login</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
</nav>
</div>
<div class="container">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
			{% load static %}
			<img src="{% static 'img/1.jpg' %}" class="img-responsive">
	      <div class="carousel-caption">

	      </div>
	    </div>
	    <div class="item">
			{% load static %}
			<img src="{% static 'img/2.jpg' %}" class="img-responsive">
	      <div class="carousel-caption">
	      </div>
	    </div>
	    <div class="item">
			{% load static %}
			<img src="{% static 'img/3.jpg' %}" class="img-responsive">
	      <div class="carousel-caption">
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Ant</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Sig</span>
	  </a>
	</div>
</div>
</br>

</div>
</div> 
{% endblock %}