<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title></title> 
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_mapas.css' %}">
       <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAat4F4mSqlM5v76xdypgMdl4NK5Uq3TQ8&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
        <script>

          "use strict";
            //acá va el context que viende de django 
            //const ubicaciones = {{ context.ubicaciones }}
          // const ubicaciones = [{lat: -26.363, lng:130.011},{lat: -27.363, lng:133.011},{lat: -25.363,lng: 131.044}];
            function initMap() {
              const myLatLng = {lat: -27.450602,lng: -58.986801};
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: myLatLng
              });

              /*
              ubicaciones.forEach(function(ubicaciones, index) {
                  var obj = {lat: 0, lng:0 }
                  obj.lat = ubicaciones.lat;
                  obj.lng = ubicaciones.lng;
                  new google.maps.Marker({
                    position: obj,
                    map,
                    title: "A definir segun lugar podria ser un context.descripcion!"
                  });
                  console.log(obj);
              });*/
             // var latlng = new google.maps.LatLng(51.4975941, -0.0803232);
             /*
                var map = new google.maps.Map(document.getElementById('map'), {
                       center: latlng,
                       zoom: 11,
                       mapTypeId: google.maps.MapTypeId.ROADMAP
                });*/
                var marker = new google.maps.Marker({
                 // -27.450602, -58.986801
                       position: {lat: -27.450602,lng: -58.986801},
                       map: map,
                       title: 'Resistencia',
                       draggable: true
                });

                google.maps.event.addListener(marker, 'dragend', function (event) {
                       //document.getElementById("latbox").value = this.getPosition().lat();
                       console.log('lat: '+this.getPosition().lat());
                       //document.getElementById("lngbox").value = this.getPosition().lng();
                       console.log('lng: '+this.getPosition().lng());
                });
            }


        </script>
  

</head>  
<body>
  <div id="iframe-contents">
    <div id="map" class="contenedor" style="position: initial;overflow: hidden;"></div>
  </div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous">
</script>
</body>
</html>


